.card {
    background-color: rgb(181, 181, 181);
    padding: 1em 2em;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input [type="text"] {
    width: 90%;
}

i {
    border: 1px solid black;
}

.button {
    background-color: rgb(137, 202, 235);
    border-radius: 5px;
}

.reset {
    border-radius: 5px;
}

.icon {
    width: 1%;
    border: 1px solid gray;
}